* {
	margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body {
	width:100%;
	height:100%;
    font-family:'Maven Pro', Arial, sans-serif;
    background-color:#333;
    line-height:1.5;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom:1.5rem;
}

img {
	margin:16px;
}

.ember-view {
	width:100%;
	height:100%;
}

.primary-nav {
	color:#fff;
	height:100%;
	width:96px;
	position:absolute;
	left:0;
	top:0;
	padding:4px 0;
}

.content {
	margin-left:96px;
	background-color:#fff;
	overflow:auto;
	box-sizing:border-box;
	height:100%;
	border:4px solid #333;
}

a, a:visited, a:active {
	color:#09f;
	text-decoration:none;
}

a.active {
	color:#fff;
	background-color:#09f;
}

.primary-nav ul {
	display:block;
}

.primary-nav ul > li {
	list-style-type:none;
	display:block;
}

.primary-nav ul > li > a {
	display:block;
	padding:8px 16px;
	text-align:right;
}

.primary-nav ul > li > .icon {
	padding-top:48px;
	font-size:12px;
	background-repeat:no-repeat;
	background-position:center 8px;
	text-align:center;
	text-transform:uppercase;
}

.icon-matches { background-image:url(../img/matches-icon.png); }
.icon-players { background-image:url(../img/players-icon.png); }
.icon-stats { background-image:url(../img/stats-icon.png); }

.stat {
	padding:16px;
	box-sizing:border-box;
	width:100%;
	border-bottom:1px solid #e5e5e5;
}

.stat h2 {
	padding:4px 8px;
	background-color:#333;
	color:#fff;
	display:inline-block;
	font-weight:200;
	text-transform:uppercase;
	font-size:16px;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

table th {
	font-weight:bold;
	text-align:left;
	padding:5px 10px;
	color:#666;
	text-align:right;
	font-size:10px;
	text-transform:uppercase;
	white-space:nowrap;
}

table td {
	text-align:right;
	padding:5px 10px;
	border-top:1px solid #ccc;
	color:#333;
	font-size:16px;
}

table .lastFiveResults {
	text-align:left;
}

.nav {
	height:100%;
	width:50%;
	box-sizing:border-box;
	float:left;
	overflow-y:scroll;
	border-right:1px solid #ccc;
}

.nav > ul {
	padding:0;
	margin:0;
	display:block;
}

.nav > ul > li {
	list-style-type:none;
	margin:0;
	padding:0;
	display:block;
}

.nav > ul > li {
	border-bottom:1px solid #e5e5e5;
}

.nav > ul > li:last-child {
	border-bottom:none;
}

.nav > ul > li > a {
	display:block;
	padding:5px 10px;
	overflow:hidden;
}

.match {
	width:50%;
	height:100%;
	box-sizing:border-box;
	float:right;
	position:relative;
}

.players {
	width:100%;
	height:100%;
	box-sizing:border-box;
	float:right;
	position:relative;
	overflow-y:scroll;	
}

.player {
	width:100%;
	height:100%;
	box-sizing:border-box;
	overflow-y:scroll;
	padding:16px;
	position:absolute;
	z-index:1;
	left:0;
	top:0;
	background:rgba(255,255,255,0.9);
}

.player-name {
	padding:0 8px;
	background-color:#333;
	color:#fff;
	display:inline-block;
	font-weight:200;
	text-transform:uppercase;
	font-size:32px;
	margin:0 0 16px 0;
}

.player-close-link {
	padding:4px 8px;
	width:auto;
	height:auto;
}

.match-date {
	display:block;
	font-size:12px;
	line-height:1.5;
	text-align:center;
	text-transform:uppercase;
}
.team-name-home,
.team-name-away {
	display:block;
	float:left;
	width:35%;
	font-size:16px;
	padding-top:8px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.team-name-home {
	text-align:right;
}

.score {
	display:block;
	float:left;
	text-align:center;
	width:30%;
	font-weight:bold;
	font-size:24px;
}

.match-team-home,
.match-team-away {
	box-sizing:border-box;
	width:50%;
	display:block;
	float:left;
	padding:16px;
	position:relative;
	height:100%;
}

.match-team-home {
	text-align:right;
}

.match-team-away {
	float:right;
	text-align:left;
}

.match-teamname {
	font-size:24px;
	margin-bottom:8px;
	color:#333;
}

.match-team-home .match-teamname { color:#900; }
.match-team-away .match-teamname { color:#009; }

.match-result-home,
.match-result-away {
	color:#333;
	font-size:48px;
}


.match-players {
	margin:0;
	color:#666;
}

.match-players > li {
	list-style-type:none;
}

.result {
	display:inline-block;
	width:8px;
	height:8px;
	margin:4px;
	position:relative;
}

.result.win {
	background-color:#090;
}

.result.loss {
	background-color:#900;
}

.result.draw {
	background-color:#999;
}

.result span {
	position:absolute;
	bottom:120%;
	margin-left:-50%;
	color:#fff;
	background-color:rgba(0,0,0,0.9);
	padding:4px;
	font-size:10px;
	display:none;
}

.result:hover span {
	display:inline-block;
}

.sort {
	cursor:pointer;
	white-space:nowrap;
}

.sort:hover,
.sort.active {
	color:#09f;
}

.sort.active:after {
	content:'▼';
	padding-left:4px;
}
