* {
	margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body {
	width:100%;
	height:100%;
    font-family:Voces, Arial, sans-serif;
    background:#333;
}

img {
	margin:16px;
}

.ember-view {
	width:100%;
	height:100%;
}

.primary-nav {
	color:#fff;
	height:100%;
	width:96px;
	position:absolute;
	left:0;
	top:0;
}

.content {
	margin-left:96px;
	border-radius:3px;
	background:#fff;
	overflow:auto;
	box-sizing:border-box;
	height:100%;
}

a, a:visited, a:active {
	color:#09f;
	text-decoration:none;
}

a.active {
	color:#fff;
	background:#09f;
}

.primary-nav ul {
	display:block;
}

.primary-nav ul > li {
	list-style-type:none;
	display:block;
}

.primary-nav ul > li > a {
	display:block;
	padding:8px 16px;
	text-align:right;
}

.stat {
	background:#ccc;
	padding:8px;
	margin:16px;
	border-radius:4px;
	box-sizing:border-box;
	width:25%;
	display:inline-block;
}

.stat-label {
	font-size:16px;
	color:#666;
}

.stat-value {
	font-size:64px;
	color:#333;
}

.stat-value-detail {
	font-size:16px;
	color:#999;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

table th {
	font-weight:bold;
	text-align:left;
	padding:5px 10px;
	color:#666;
	text-align:right;
	font-size:10px;
	text-transform:uppercase;
}

table tr:nth-child(odd) td {
	background:#e6e6e6;
}

table td {
	text-align:right;
	padding:5px 10px;
	border-top:1px solid #ccc;
	color:#333;
	font-size:16px;
}

table .lastFiveResults {
	text-align:left;
}

.match-nav {
	height:100%;
	width:30%;
	box-sizing:border-box;
	float:left;
	overflow-y:scroll;
	border-right:1px solid #ccc;
}

.match-nav > ul {
	padding:0;
	margin:0;
	display:block;
}

.match-nav > ul > li {
	list-style-type:none;
	margin:0;
	padding:0;
	display:block;
}

.match-nav > ul > li {
	border-bottom:1px solid #e5e5e5;
}

.match-nav > ul > li:last-child {
	border-bottom:none;
}

.match-nav > ul > li > a {
	display:block;
	padding:5px 10px;
	overflow:hidden;
}

.match-date {
	display:block;
	font-size:10px;
	line-height:1.5;
	text-align:center;
}
.team-name-home,
.team-name-away {
	display:block;
	float:left;
	width:40%;
	font-size:12px;
	line-height:24px;
}
.team-name-home {
	text-align:right;
}
.score {
	display:block;
	float:left;
	text-align:center;
	width:20%;
	font-weight:bold;
	font-size:16px;
	line-height:24px;
}

.match {
	width:70%;
	height:100%;
	box-sizing:border-box;
	float:right;
	position:relative;
}

.match-team-home,
.match-team-away {
	box-sizing:border-box;
	width:50%;
	display:block;
	float:left;
	padding:16px;
	position:relative;
	height:100%;
}

.match-team-home {
	border-top:5px solid #900;
	text-align:left;
	padding-right:48px;
	background:#FFE5E5;
}

.match-team-away {
	float:right;
	border-top:5px solid #009;
	text-align:right;
	background:#E5E5FF;
}

.match-teamname {
	font-size:32px;
	color:#333;
}

.match-result-home,
.match-result-away {
	color:#999;
	position:absolute;
	top:0;
	color:#fff;
	font-size:48px;
	padding:8px;
	width:96px;
	text-align:center;
}

.match-result-home {
	right:0;
	background:#900;
}

.match-result-away {
	left:0;
	background:#009;
}

.match-players {
	margin:0;
	color:#666;
}

.match-players > li {
	list-style-type:none;
}

.result {
	display:inline-block;
	width:8px;
	height:8px;
	margin:4px;
	position:relative;
}

.result.win {
	background:#090;
}

.result.loss {
	background:#900;
}

.result.draw {
	background:#999;
}

.result span {
	position:absolute;
	bottom:120%;
	margin-left:-50%;
	color:#fff;
	background:rgba(0,0,0,0.9);
	padding:4px;
	font-size:10px;
	display:none;
}

.result:hover span {
	display:inline-block;
}

.sort {
	cursor:pointer;
}

.sort:hover,
.sort.active {
	color:#09f;
}

.sort.active:after {
	content:'▼';
	padding-left:4px;
}
